/*****heder*****/
header {
  grid-column-start: 1;
  grid-column-end: -1;
  grid-row-start: 1;
  grid-row-end: 2;

  position: relative;

  display: flex;
}

#logo {
  position: absolute;
  width: 138px;
  height: 70px;
  top: 0px;
  left: 50%;
  margin-left: -69px;
}

nav {
  flex: 1 0 auto;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

#generalNavigationList {
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

#generalNavigationList  > li {
  flex: 1 0 auto;

  display: block;
}

#leftSideNavigationList {
  width: 100%;

  display: flex;
  justify-content: flex-start;
  align-items: center;
}

#rightSideNavigationList {
  width: 100%;

  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#leftSideNavigationList > li,
#rightSideNavigationList > li {
  flex-basis: 10rem;

  font-family: PT Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 26px;
  /* identical to box height, or 186% */

  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
}

#leftSideNavigationList > li > a,
#rightSideNavigationList > li > a {
  color: #000000;
}

/* #information{
  margin-left: ;
} */

/* #photoAndVideo{
  margin-left: ;
} */

/* #stateMap{
  margin-right: ;
} */

/* #hotels{
  margin-right: ;
} */
