
:root {
  --basicWhite: #FFFFFF;
  --basicOpacityWhite: rgba(255, 255, 255, 0.3);
  --basicWhite: #FFFFFF;
  --basicBlack: #000000;
  --lightBlack: #231F20;

  --lightBlue: #87B5D1;
  --regularBlue: #81B3D2;
  --darkBlue: #669EC0;
  --extraDarkBlue: #5496BD;

  --regularBrown: #766357;
  --darkBrown: #604E43;
  --extraDarkBrown: #503E33;

  --darkGray: #333333;
  --regularGray: #666666;
  --subLightGray: #6A6A6A; /* for checkbox block mode in filter */
  --lightGray: #A9A9A9;
  --doubleLightGray: #B3B3B3;
  --tripleLightGray: #CACACA; /* for upDown buttons */
  --strongLightGray: #EBEBEB;
  --extraLightGray: #F2F2F2;
  --specialLightGray: #BDBBBC; /* for HTMLAcademy link click mode */
  --specialDoubleLightGray: #EEEEEE;

  /**backgroundColors**/
  --sedona-nature: #DBE9F1;
  --map: #F2F1EF;
  --devilBridge: #DBA68D;
}



/*****body*****/

.page {
  height: 100%; /*чтобы при нехватке контента подвал прижимался к нижней части страницы*/
}

.page-body {
  background-color: var(--extraLightGray);

  margin: 0;
  padding: 0;
  min-height: 100%;
  min-width: 1200px;

  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 21px;
  color: var(--basicBlack);
  text-transform: uppercase;
}



/*****main-container*****/

.main-container,
.inner-page-container {
  width: 1200px;
  min-height: 100%;

  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: auto;
  margin-left: auto;

  background-color: var(--basicWhite);
  box-shadow: 0px 5px 15px rgba(0, 1, 1, 0.2);
}

.visually-hidden {
  display: none; /*без этого свойства в Chrome страница отображается некорректно (футер не "липнет" к низу страницы)*/
  position: absolute;
  clip: rect(0, 0, 0, 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.caption {
  color: var(--basicBlack);
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
}



/*****grid*****/

/*
***main-page***
*/

.main-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content 1fr min-content;
}

.main-header {
  grid-column-start: 1;
  grid-column-end: -1;
  grid-row-start: 1;
  grid-row-end: 2;
}

.main {
  grid-column-start: 1;
  grid-column-end: -1;
  grid-row-start: 2;
  grid-row-end: -1;
}

.footer {
  grid-column-start: 1;
  grid-column-end: -1;
  grid-row-start: 3;
  grid-row-end: -1;

  z-index: 1;
  opacity: 0.9;
}



.main-header {
  display: flex;

  position: relative;
}

.main-header-logo {
  width: 138px;
  height: 70px;

  position: absolute;
  top: 0;
  left: 50%;
  margin-left: calc(-138px/2);
}

.main-navigation {
  flex-grow: 1;

  display: flex;
}

.main-navigation-list {
  flex-grow: 1;

  display: flex;
  justify-content: space-between;
}

.main-navigation-list-item {
  flex-basis: 100px;
  flex-grow: 1;

  margin-top: 15px;
  margin-bottom: 15px;

  display: flex;
}

.info-item,
.media-item {
  justify-content: flex-start;
}

.state-map-item,
.hotels-item {
  justify-content: flex-end;
}

.main-navigation-list-item > .link {
  display: block;
}

.info-item > .link {
  margin-left: 72px;
}

.state-map-item > .link {
  margin-right: -1px;
}

.hotels-item > .link {
  margin-right: 72px;
}



.main {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, min-content) 473px;
  grid-template-areas:
                      "greeting"
                      "outstanding-qualities"
                      "sedona-hotels"
                      "map";
  overflow: hidden;
}

.greeting {
  grid-area: greeting;
}

.outstanding-qualities {
  grid-area: outstanding-qualities;
}

.sedona-hotels {
  grid-area: sedona-hotels;
}

.map {
  grid-area: map;
}



.outstanding-qualities {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, min-content);
  grid-template-areas:
                      "why-sedona"
                      "outstanding-qualities-list";
  margin: 0;
  padding: 0;
}

.why-sedona {
  grid-area: why-sedona;
}

.outstanding-qualities-list {
  grid-area: outstanding-qualities-list;
}



.why-sedona {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, min-content);
  grid-template-areas:
                      "deserve-more"
                      "five-reasons-headline";
  margin: 0;
  padding: 0;
}

.deserve-more {
  grid-area: deserve-more;

  width: 470px;
  height: 80px;

  padding: 0;
  margin-top: 42.5px;
  margin-right: 365px;
  margin-left: 365px;

  text-align: center;
}

.five-reasons-headline {
  grid-area: five-reasons-headline;

  width: 519px;
  height: auto;

  padding: 0;
  margin-top: 16.5px;
  margin-right: 341px;
  margin-left: 340px;
  margin-bottom: 51px;

  text-align: center;
}



.outstanding-qualities-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, min-content);
  grid-template-areas:
                      "true-city true-city true-city"
                      "bridge-of-devil bridge-of-devil bridge-of-devil"
                      "small-area beautiful-road few-tourists";
  margin: 0;
  padding: 0;
}

.true-city {
  grid-area: true-city;
}

.bridge-of-devil {
  grid-area: bridge-of-devil;
}

.small-area {
  grid-area: small-area;
}

.beautiful-road {
  grid-area: beautiful-road;
}

.few-tourists {
  grid-area: few-tourists;
}



.true-city {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, min-content);
  grid-template-areas:
                      "true-city-main-content"
                      "true-city-list";
}

.true-city-main-content {
  grid-area: true-city-main-content;
}

.true-city-list {
  grid-area: true-city-list;
}



.true-city-main-content {
  display: flex;
  justify-content: flex-end;
}

.sedona-building-photo {
  flex-basis: 800px;
}

.small-city-life {
  flex-basis: 400px;
  margin: 0;

  display: flex;
  flex-direction: column;
}

.small-city-life::before {
  content: "-№1-";
  width: 51px;
  height: 21px;

  padding: 0;
  margin-top: 25px;
  margin-right: 174px;
  margin-left: 175px;
  margin-bottom: 23px;

  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;

  text-align: center;

  order: 2;
}

.unfeigned-town {
  width: 122px;
  height: 43px;

  padding: 0;
  margin-top: 47px;
  margin-right: 139px;
  margin-left: 139px;

  text-align: center;

  order: 1;
}

.own-life {
  width: 297px;
  height: 43px;

  padding: 0;
  margin-right: 51px;
  margin-left: 52px;
  margin-bottom: 54px;

  text-align: center;

  order: 3;
}



.true-city-list {
  display: flex;
}



.housing {
  flex-basis: 400px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.housing::before {
  content: '';
  width: 75px;
  height: 72px;
  background-image: url('../img/decor/svg/true_city_list_item_icons/icon-1_w75px_h72px.svg');

  padding: 0;
  margin-top: 60px;
  margin-bottom: 0px;
}

.housing .subject {
  width: 68px;
  height: 21px;

  padding: 0;
  margin-top: 28px;
  margin-bottom: 25px;
}

.housing .text {
  width: 254px;
  height: 42px;

  padding: 0;
  margin-top: 0;
  margin-bottom: 82px;

  text-align: center;
}



.food {
  flex-basis: 400px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.food::before {
  content: '';
  width: 75px;
  height: 70px;
  background-image: url('../img/decor/svg/true_city_list_item_icons/icon-3_w75px_h70px.svg');

  padding: 0;
  margin-top: 61px;
  margin-bottom: 0px;
}

.food .subject {
  width: 39px;
  height: 21px;

  padding: 0;
  margin-top: 29px;
  margin-bottom: 25px;
}

.food .text {
  width: 297px;
  height: 42px;

  padding: 0;
  margin-top: 0;
  margin-bottom: 82px;

  text-align: center;
}



.souvenirs {
  flex-basis: 400px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.souvenirs::before {
  content: '';
  width: 64px;
  height: 77px;
  background-image: url('../img/decor/svg/true_city_list_item_icons/icon-2_w64px_h77px.svg');

  padding: 0;
  margin-top: 55px;
  margin-bottom: 0px;
}

.souvenirs .subject {
  width: 103px;
  height: 21px;

  padding: 0;
  margin-top: 28px;
  margin-bottom: 25px;
}

.souvenirs .text {
  width: 269px;
  height: 43px;

  padding: 0;
  margin-top: 0;
  margin-bottom: 81px;

  text-align: center;
}



.bridge-of-devil {
  display: flex;
  justify-content: flex-end;
}

.devil-bridge-photo {
  flex-basis: 800px;
}

.devil-bridge-sight {
  flex-basis: 400px;
  order: 1;

  margin: 0;

  display: flex;
  flex-direction: column;
}

.devil-bridge-sight::before {
  content: "-№2-";
  width: 51px;
  height: 21px;

  padding: 0;
  margin-top: 25px;
  margin-right: 174px;
  margin-left: 175px;
  margin-bottom: 23px;

  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;

  text-align: center;

  order: 2;
}

.devil-bridge-sight .subject {
  width: 149px;
  height: 43px;

  padding: 0;
  margin-top: 50px;
  margin-right: 125px;
  margin-left: 126px;

  text-align: center;

  order: 1;
}

.devil-bridge-sight .text {
  width: 301px;
  height: 43px;

  padding: 0;
  margin-right: 49px;
  margin-left: 50px;
  margin-bottom: 51px;

  text-align: center;

  order: 3;
}



.small-area {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.small-area::before {
  content: "-№3-";
  width: 51px;
  height: 21px;

  padding: 0;
  margin-top: 25px;
  margin-bottom: 23px;

  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;

  text-align: center;

  order: 2;
}

.small-area .subject {
  width: 149px;
  height: 43px;

  padding: 0;
  margin-top: 47px;
  margin-bottom: 0;

  text-align: center;

  order: 1;
}

.small-area .text {
  width: 207px;
  height: 43px;

  padding: 0;
  margin-top: 0;
  margin-bottom: 54px;

  text-align: center;

  order: 3;
}



.beautiful-road {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.beautiful-road::before {
  content: "-№4-";
  width: 51px;
  height: 21px;

  padding: 0;
  margin-top: 25px;
  margin-bottom: 23px;

  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;

  text-align: center;

  order: 2;
}

.beautiful-road .subject {
  width: 99px;
  height: 43px;

  padding: 0;
  margin-top: 47px;
  margin-bottom: 0;

  text-align: center;

  order: 1;
}

.beautiful-road .text {
  width: 258px;
  height: 43px;

  padding: 0;
  margin-top: 0;
  margin-bottom: 54px;

  text-align: center;

  order: 3;
}



.few-tourists {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.few-tourists::before {
  content: "-№5-";
  width: 51px;
  height: 21px;

  padding: 0;
  margin-top: 25px;
  margin-bottom: 23px;

  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;

  text-align: center;

  order: 2;
}

.few-tourists .subject {
  width: 98px;
  height: 43px;

  padding: 0;
  margin-top: 47px;
  margin-bottom: 0;

  text-align: center;

  order: 1;
}

.few-tourists .text {
  width: 246px;
  height: 43px;

  padding: 0;
  margin-top: 0;
  margin-bottom: 54px;

  text-align: center;

  order: 3;
}



.sedona-hotels {
  display: flex;
  flex-direction: column;
}

.container-for-hotel-search-text {
  width: 435px;
  height: 147px;

  margin-top: 58px;
  margin-left: 383px;

  text-align: center;
}

.sedona-hotels .hotel-search {
  width: 568px;
  height: 86px;

  margin-left: 316px;
  margin-bottom: 0;

  text-align: center;
}

.hotel-search-link-text {
  display: block;
  width: 319px;
  height: 26px;

  padding: 0;
  margin-top: 30px;
  margin-right: 124px;
  margin-left: 125px;
  margin-bottom: 30px;

  text-align: center;
}



.footer,
.inner-page-footer {
  display: flex;
}

.contacts-and-copyright {
  flex-basis: 400px;

  display: grid;
  align-items: center;
}

.paragraph-tel {
  justify-self: start;

  width: 251px;
  margin-left: 111px;
  margin-top: 23px;
  margin-bottom: 36px;
}

.paragraph-tel > .caption {
  display: block;
  text-align: center;
}

.paragraph-tel > .caption:first-child {
  margin-bottom: 9px;
}



.paragraph-social {
  justify-self: center;

  margin-top: 36px;
  margin-bottom: 36px;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 6px;
}



.paragraph-creators {
  justify-self: end;

  width: 197px;
  margin-right: 138px;

  display: flex;
  align-items: center;
}

.website-by {
  margin-right: 8px;
}



/*
***inner-page***
*/

.inner-page-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content 1fr min-content;
  grid-template-areas:
                      "inner-page-header"
                      "inner-page-main"
                      "inner-page-footer";
}

.inner-page-header {
  grid-area: inner-page-header;
}

.inner-page-main {
  grid-area: inner-page-main;
}

.inner-page-footer {
  grid-area: inner-page-footer;
}



.inner-page-main {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, min-content);
  grid-template-areas:
                      "filter"
                      "common-box";
}

.filter {
  grid-area: filter;
}

.common-box {
  grid-area: common-box;
}



.common-box {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, min-content);
  grid-template-areas:
                      "range"
                      "relevant-propositions";
}

.range {
  grid-area: range;
}

.relevant-propositions {
  grid-area: relevant-propositions;
}



.range {
  display: flex;
  align-items: center;

  background-image: url('../img/decor/svg/down_line/down_line.svg');
  background-repeat: no-repeat;
  background-position: 0 100%;
}



.sorting-elements-box {
  flex-grow: 1;

  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.filtered-results {
  padding: 0;
  margin-top: 29px;
  margin-right: 0;
  margin-left: 73px;
  margin-bottom: 32px;
}



.sorting-interface-box {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.sorting-interface-box > .text {
  padding: 0;
  margin-top: 31px;
  margin-right: 0;
  margin-left: 46px;
  margin-bottom: 38px;
}



.sorting-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  padding: 0;
  margin-top: 31px;
  margin-right: 0;
  margin-bottom: 37px;
}

.sorting-list-item.by-price {
  margin-left: 40px;
}

.sorting-list-item.by-type {
  margin-left: 32px;
}

.sorting-list-item.by-rating {
  margin-left: 33px;
}

.sorting-list-item:not(:first-child):not(:last-child) {
  margin-bottom: 1px;
}



.up-down-buttons-box {
  margin-top: 40px;
  margin-bottom: 37px;

  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.button[name="up"],
.button[name="down"] {
  line-height: 0;
}

.button[name="down"] {
  margin-right: 73px;
}

.button[name="up"] {
  margin-right: 12px;
}



.relevant-propositions {
  display: flex;
  flex-direction: column;
}

.proposed-hotel {
  display: flex;

  background-image: url('../img/decor/svg/down_line/down_line.svg');
  background-repeat: no-repeat;
  background-position: 0 100%;
}



.proposed-hotel-wrapper {
  flex-grow: 1;
  margin-top: 23.5px;
  margin-left: 73px;
  margin-bottom: 31px;

  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
}

.link.hotel-photo {
  line-height: 0;
}



.info-box {
  flex-grow: 1;
  margin-left: 29px;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, min-content);
}

.info-box > * {
  margin: 0;
  padding: 0;
}



.info-box .hotel-name {
  display: block;
}



.hotel-type {
  display: inline-block;
  width: 107px;
  margin-top: 7px;
  margin-bottom: 15.5px;

  text-align: left;
}

.day-min-price {
  display: inline-block;
  width: 96px;
  margin-left: 9px;
  margin-top: 7px;
  margin-bottom: 15.5px;

  text-align: left;
}



.button.ins {
  display: inline-block;
  width: 110px;
  height: 27px;
}

.button.booking {
  display: inline-block;
  width: 142px;
  height: 27px;
  margin-left: 6px;
}

.ins-box {
  display: block;
  margin-top: 3px;
  margin-left: 17px;
}

.booking-box {
  display: block;
  margin-top: 3px;
  margin-left: 16px;
}



.hotel-rating {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  margin-top: 29px;
  margin-right: 73px;
  margin-bottom: 31px;
}



.list.stars {
  display: flex;
  flex-direction: row-reverse;
}

.star-item {
  line-height: 0;

  margin-left: 5px;
}

.star-item > .link {
  display: inline-block;
}



.number-of-points {
  width: 110px;
  height: 27px;

  display: flex;
  flex-direction: row-reverse;
}

.points-box {
  width: 83px;
  margin-top: 3px;
  margin-right: 12px;
  margin-bottom: 3px;
}



.hotel-name > .name-part-two {
  margin-left: -2px;
}



/*****header*****/

.main-header {
  background-color: inherit;
}

.main-navigation-list-item > .link {
  color: var(--basicBlack);
  font-weight: bold;
  line-height: 26px;
}

.main-navigation-list-item > .link:focus {
  color: var(--regularBrown);
}

.main-navigation-list-item > .link:hover {
  color: var(--regularBlue);
}

.main-navigation-list-item > .link:active {
  color: var(--basicBlack);
  mix-blend-mode: normal;
  opacity: 0.3;
}



/*****main*****/

.main {
  background-color: inherit;
}

/*---------*/

.greeting {
  width: 1200px;
  height: 509px;
  background-color: var(--sedona-nature);
  background-image:
    url('../img/content/svg/welcome/welcome.svg'),
    url('../img/decor/svg/mask/sedona_nature/white_mask.svg'),
    url('../img/content/jpg/background/sedona_nature/sedona_nature.jpg');
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: 371.38px 77.35px, 50% 100%, 50% 50%;
}

/*---------*/

.subtitle {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
}

.five-reasons-headline {
  line-height: 26px;
  color: var(--darkGray);
}

.subject {
  font-size: 21px;
  font-weight: bold;
}

.outstanding-qualities-item:first-child > .true-city-main-content,
.outstanding-qualities-item:nth-child(2) {
  background-color: var(--regularBlue);
  color: var(--basicWhite);
}

.sedona-building-photo {
  background-color: var(--regularGray);
}

.devil-bridge-photo {
  background-color: var(--devilBridge);
}

.outstanding-qualities-item:nth-child(3),
.outstanding-qualities-item:nth-child(4),
.outstanding-qualities-item:nth-child(5) {
  background-color: var(--specialDoubleLightGray);
}

.true-city-list-item > .text,
.outstanding-qualities-item:nth-child(3) > .text,
.outstanding-qualities-item:nth-child(4) > .text,
.outstanding-qualities-item:nth-child(5) > .text,
.info-text-content > .text {
  color: var(--darkGray);
}

/*---------*/

.question-of-interest {
  font-weight: bold;
  font-size: 30px;
  line-height: 24px;
}

.container-for-hotel-search-text > .text {
  color: var(--darkGray);
}

.button.hotel-search {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  background-color: var(--regularBrown);
  color: var(--basicWhite);
}

.button.hotel-search:hover {
  background-color: var(--darkBrown);
  color: var(--basicWhite);
}

.button.hotel-search:active {
  background-color: var(--extraDarkBrown);
  color: var(--basicOpacityWhite);
}

/*---------*/

.map {
  background-color: var(--map);
}


/*****footer*****/

.footer {
  background-color: inherit;
}

.contact-phone {
  color: var(--basicBlack);
}

.button.social {
  display: block;
  width: 46px;
  height: 48px;

  background-color: var(--regularBlue);
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.twitter {
  background-image: url('../img/decor/svg/icons_social/twitter_w17px_h17px.svg');
}

.twitter:hover {
  background-color: var(--darkBlue);
}

.twitter:active {
  background-color: var(--extraDarkBlue);
  background-image: url('../img/decor/svg/icons_social/twitter_opacity_imitation_w17px_h17px.svg');
}

.facebook {
  background-image: url('../img/decor/svg/icons_social/fb-icon_w12px_h22px.svg');
}

.facebook:hover {
  background-color: var(--darkBlue);
}

.facebook:active {
  background-color: var(--extraDarkBlue);
  background-image: url('../img/decor/svg/icons_social/fb-icon_opacity_imitation_w12px_h22px.svg');
}

.youtube {
  background-image: url('../img/decor/svg/icons_social/youtube_w20px_h16px.svg');
}

.youtube:hover {
  background-color: var(--darkBlue);
}

.youtube:active {
  background-color: var(--extraDarkBlue);
  background-image: url('../img/decor/svg/icons_social/youtube_opacity_imitation_w20px_h16px.svg');
}

.website-by {
  line-height: 26px;
}

.html-academy-intensive:hover .html-academy-logotype-svg-path {
  fill: var(--regularBlue);
}

.html-academy-intensive:active .html-academy-logotype-svg-path {
  fill: var(--specialLightGray);
}



/*****main inner page*****/

.sorting-interface-box {
  font-size: 12px;
  line-height: 18px;
}

.sorting-element {
  color: var(--basicBlack);
  mix-blend-mode: normal;
  opacity: 0.3;

  border-bottom: 1px dotted var(--regularBlue);
}

.sorting-element:focus {
  color: var(--regularBlue);
  border: none;
}

.sorting-element:hover {
  color: var(--regularBlue);
}

.sorting-element:active {
  color: var(--basicBlack);
  border: none;
  opacity: 1;
}



.button[name="up"]:hover .button-up-svg-path,
.button[name="down"]:hover .button-down-svg-path {
  fill: var(--basicBlack)
}

.button[name="up"]:active .button-up-svg-path,
.button[name="down"]:active .button-down-svg-path,
.button[name="up"]:focus .button-up-svg-path,
.button[name="down"]:focus .button-down-svg-path {
  fill: var(--regularBlue)
}



.hotel-name:hover {
  color: var(--regularBlue);
}

.hotel-name:active {
  color: var(--basicBlack);
  mix-blend-mode: normal;
  opacity: 0.3;
}



.ins {
  font-weight: bold;
  color: var(--basicWhite);
  background-color: var(--regularBlue);
}

.ins:hover {
  background-color: var(--darkBlue);
}

.ins:active {
  background-color: var(--extraDarkBlue);
  color: var(--basicOpacityWhite);
}



.booking {
  font-weight: bold;
  color: var(--basicWhite);
  background-color: var(--regularBrown);
}

.booking:hover {
  background-color: var(--darkBrown);
}

.booking:active {
  color: var(--basicOpacityWhite);
  background-color: var(--extraDarkBrown);
}



.number-of-points {
  background-color: var(--extraLightGray);
}

.number-of-points .text {
  color: var(--regularGray);
}
