
:root {
  --basicWhite: #FFFFFF;
  --basicOpacityWhite: rgba(255, 255, 255, 0.3);
  --fullOpacityWhite: rgba(255, 255, 255, 0);
  --basicWhite: #FFFFFF;
  --basicBlack: #000000;
  --lightBlack: #231F20;

  --lightBlue: #87B5D1;
  --regularBlue: #81B3D2;
  --darkBlue: #669EC0;
  --extraDarkBlue: #5496BD;

  --regularBrown: #766357;
  --darkBrown: #604E43;
  --extraDarkBrown: #503E33;

  --darkGray: #333333;
  --regularGray: #666666;
  --subLightGray: #6A6A6A;
  --lightGray: #A9A9A9;
  --doubleLightGray: #B3B3B3;
  --tripleLightGray: #CACACA;
  --strongLightGray: #EBEBEB;
  --upperStrongLightGray: #E5E5E5;
  --extraLightGray: #F2F2F2;
  --specialLightGray: #BDBBBC;
  --specialDoubleLightGray: #EEEEEE;

  /**backgroundColors**/
  --sedonaNature: #DBE9F1;
  --map: #CBDDA9;
  --devilBridge: #DBA68D;
  --barHandle: #ABABAB;

   /**shadows**/
   --mainContainerShadow: rgba(0, 1, 1, 0.2);
   --searchHotelWindowShadow: rgba(0, 1, 1, 0.15);
   --barHandleShadow: #525856;

   /**width**/
   --searchFormContentWrapperWidth: 458px;
}



.page {
  height: 100%;
}



.page-body {
  background-color: var(--extraLightGray);

  margin: 0;
  padding: 0;
  min-height: 100%;
  min-width: 1200px;

  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 21px;
  color: var(--basicBlack);
  text-transform: uppercase;
}



.main-container,
.inner-page-container {
  width: 1200px;
  min-height: 100%;

  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: auto;
  margin-left: auto;

  background-color: var(--basicWhite);
  box-shadow: 0 5px 15px rgba(0, 1, 1, 0.2);
}



.visually-hidden {
  position: absolute;
  clip: rect(0, 0, 0, 0);
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  overflow: hidden;
}



.link {
  text-decoration: none;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.caption {
  color: var(--basicBlack);
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
}



/*
*********************************************************************************************************
main-page
*********************************************************************************************************
*/

.main-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: -webkit-min-content 1fr -webkit-min-content;
  grid-template-rows: min-content 1fr min-content;
}



/*===== main-header =====*/

/*
stylization
*/

.main-header {
  background-color: inherit;
}

.first-page-link {
  border: none;
  outline: none;
}

.first-page-link::before {
  content: "";
  width: 138px;
  height: 70px;

  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
}

.first-page-link:focus::before {
  outline: 1px dotted var(--basicBlack);
}

.main-navigation-list-item > .link {
  color: var(--basicBlack);
  font-weight: bold;
  line-height: 26px;
}

.hotels-active-mode > .link {
  color: var(--regularBrown);
}



.main-navigation-list-item > .link:focus {
  color: var(--regularBlue);
}

.main-navigation-list-item > .link:hover {
  color: var(--regularBlue);
}

.main-navigation-list-item > .link:active {
  color: var(--basicBlack);
  mix-blend-mode: normal;
  opacity: 0.3;
}



/*
positioning
*/

.main-header {
  position: relative;
}



.main-logo {
  width: 138px;
  height: 70px;

  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
}



.main-navigation-list {
  display: grid;
  grid-template-columns: 1fr 1fr minmax(138px, -webkit-min-content) 1fr 1fr;
  grid-template-columns: 1fr 1fr minmax(138px, min-content) 1fr 1fr;
}

.info-item {
  grid-column-start: 1;
  grid-column-end: 2;

  justify-self: start;
  align-self: center;
  padding-left: 72px;
}

.media-item {
  grid-column-start: 2;
  grid-column-end: 3;

  justify-self: start;
  align-self: center;
  padding-left: 34.5px;
}

.state-map-item {
  grid-column-start: 4;
  grid-column-end: 5;

  justify-self: end;
  align-self: center;
  padding-right: 33.5px;
}

.hotels-item {
  grid-column-start: 5;
  grid-column-end: 6;

  justify-self: end;
  align-self: center;
  padding-right: 72px;
}



.main-navigation-list-item > .link {
  display: block;
  padding-top: 15px;
  padding-bottom: 15px;
}



/*===== main =====*/

/*
stylization
*/

.main {
  background-color: inherit;
}



.greeting {
  width: 1200px;
  height: 509px;
  background-color: var(--sedonaNature);
  background-image:
    url('../img/content/svg/welcome/welcome.svg'),
    url('../img/decor/svg/mask/sedona_nature/white_mask.svg'),
    url('../img/content/jpg/background/sedona_nature/sedona_nature.jpg');

  background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
  background-position: 371.38px 77.35px, 50% 100%, 50% 50%;
}



.outstanding-qualities {
  position: relative;
}

.outstanding-qualities::before {
  content: "";

  display: block;
  width: 1200px;
  height: 57px;

  position: absolute;
  left: 0;
  top: 0;

  transform: translate(0, -99.999%);

  background-image: url('../img/decor/svg/mask/sedona_nature/white_mask.svg');
  background-repeat: no-repeat;
  background-position: 50% 50%;
}



.subtitle {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
}

.five-reasons-headline {
  line-height: 26px;
  color: var(--darkGray);
}

.subject {
  font-size: 21px;
  font-weight: bold;
}

.outstanding-qualities-item:first-child > .true-city-main-content,
.outstanding-qualities-item:nth-child(2) {
  background-color: var(--regularBlue);
  color: var(--basicWhite);
}

.sedona-building-photo {
  background-color: var(--regularGray);
}

.devil-bridge-photo {
  background-color: var(--devilBridge);
}

.outstanding-qualities-item:nth-child(3),
.outstanding-qualities-item:nth-child(4),
.outstanding-qualities-item:nth-child(5) {
  background-color: var(--specialDoubleLightGray);
}

.true-city-list-item > .text,
.outstanding-qualities-item:nth-child(3) > .text,
.outstanding-qualities-item:nth-child(4) > .text,
.outstanding-qualities-item:nth-child(5) > .text,
.info-text-content > .text {
  color: var(--darkGray);
}



.question-of-interest {
  font-weight: bold;
  font-size: 30px;
  line-height: 24px;
}

.container-for-hotel-search-text > .text {
  color: var(--darkGray);
}

.button.hotel-search {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  background-color: var(--regularBrown);
  color: var(--basicWhite);
}

.button.hotel-search:focus {
  outline: 2px dotted var(--basicWhite);
  outline-offset: -3px;
}

.button.hotel-search:hover {
  background-color: var(--darkBrown);
  color: var(--basicWhite);
}

.button.hotel-search:active {
  background-color: var(--extraDarkBrown);
  color: var(--basicOpacityWhite);
}



.map {
  background-color: var(--map);
  background-image: url('../img/content/jpg/map_image/map.jpg');
  background-repeat: no-repeat;
  background-position: cover;

  line-height: 0;
}



/*
positioning
*/

.main {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, -webkit-min-content);
  grid-template-rows: repeat(4, min-content);
}



.outstanding-qualities {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, -webkit-min-content);
  grid-template-rows: repeat(2, min-content);

  margin: 0;
  padding: 0;
}



.why-sedona {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, -webkit-min-content);
  grid-template-rows: repeat(2, min-content);

  margin: 0;
  padding: 0;
}

.deserve-more {
  width: 470px;

  padding: 0;
  padding-bottom: 28px;
  margin-top: 42.5px;
  margin-right: 365px;
  margin-left: 365px;
  margin-bottom: 0;

  text-align: center;
}

.five-reasons-headline {
  width: 519px;
  height: auto;

  padding: 0;
  margin-top: 16.5px;
  margin-right: 341px;
  margin-left: 340px;
  margin-bottom: 51px;

  text-align: center;
}



.outstanding-qualities-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, -webkit-min-content);
  grid-template-rows: repeat(3, min-content);
  grid-template-areas:
                      "true-city true-city true-city"
                      "bridge-of-devil bridge-of-devil bridge-of-devil"
                      "small-area beautiful-road few-tourists";
  margin: 0;
  padding: 0;
}

.true-city {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: true-city;
}

.bridge-of-devil {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: bridge-of-devil;
}

.small-area {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: small-area;
}

.beautiful-road {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: beautiful-road;
}

.few-tourists {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  grid-area: few-tourists;
}



.true-city {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, -webkit-min-content);
  grid-template-rows: repeat(2, min-content);
}



.true-city-main-content {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.sedona-building-photo {
  flex-basis: 800px;
  align-self: top;
  line-height: 0;
}

.small-city-life {
  flex-basis: 400px;
  margin: 0;

  display: flex;
  flex-direction: column;
}

.small-city-life::before {
  content: "-№1-";
  width: 51px;
  height: 21px;

  padding: 0;
  margin-top: 25px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 23px;

  font-family: 'PT Sans';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;

  text-align: center;

  order: 2;
}

.unfeigned-town {
  width: 122px;

  padding: 0;
  margin-top: 47px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 0;

  text-align: center;

  order: 1;
}

.own-life {
  width: 310px;

  padding: 0;
  margin-top: 0;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 54px;

  text-align: center;

  order: 3;
}



.true-city-list {
  display: flex;
  flex-wrap: wrap;
}



.housing {
  flex-basis: 400px;

  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}

.housing::before {
  content: '';
  width: 75px;
  height: 72px;
  background-image: url('../img/decor/svg/true_city_list_item_icons/icon-1_w75px_h72px.svg');

  padding: 0;
  margin-top: 60px;
  margin-bottom: 0;
}

.housing .subject {
  width: 68px;

  padding: 0;
  margin-top: 28px;
  margin-bottom: 25px;
}

.housing .text {
  width: 254px;

  padding: 0;
  margin-top: 0;
  margin-bottom: 82px;

  text-align: center;
}



.food {
  flex-basis: 400px;

  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}

.food::before {
  content: '';
  width: 75px;
  height: 70px;
  background-image: url('../img/decor/svg/true_city_list_item_icons/icon-3_w75px_h70px.svg');

  padding: 0;
  margin-top: 61px;
  margin-bottom: 0;
}

.food .subject {
  width: 39px;

  padding: 0;
  margin-top: 29px;
  margin-bottom: 25px;
}

.food .text {
  width: 297px;

  padding: 0;
  margin-top: 0;
  margin-bottom: 82px;

  text-align: center;
}



.souvenirs {
  flex-basis: 400px;

  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}

.souvenirs::before {
  content: '';
  width: 64px;
  height: 77px;
  background-image: url('../img/decor/svg/true_city_list_item_icons/icon-2_w64px_h77px.svg');

  padding: 0;
  margin-top: 55px;
  margin-bottom: 0;
}

.souvenirs .subject {
  width: 103px;

  padding: 0;
  margin-top: 28px;
  margin-bottom: 25px;
}

.souvenirs .text {
  width: 280px;

  padding: 0;
  margin-top: 0;
  margin-bottom: 81px;

  text-align: center;
}



.bridge-of-devil {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.devil-bridge-photo {
  flex-basis: 800px;
  align-self: top;
  line-height: 0;
}

.devil-bridge-sight {
  flex-basis: 400px;
  order: 1;

  margin: 0;

  display: flex;
  flex-direction: column;
}

.devil-bridge-sight::before {
  content: "-№2-";
  width: 51px;
  height: 21px;

  padding: 0;
  margin-top: 25px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 23px;

  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;

  text-align: center;

  order: 2;
}

.devil-bridge-sight .subject {
  width: 155px;

  padding: 0;
  margin-top: 50px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 0;

  text-align: center;

  order: 1;
}

.devil-bridge-sight .text {
  width: 301px;

  padding: 0;
  margin-top: 0;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 51px;

  text-align: center;

  order: 3;
}



.small-area {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.small-area::before {
  content: "-№3-";
  width: 51px;
  height: 21px;

  padding: 0;
  margin-top: 25px;
  margin-bottom: 23px;

  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;

  text-align: center;

  order: 2;
}

.small-area .subject {
  width: 149px;

  padding: 0;
  margin-top: 47px;
  margin-bottom: 0;

  text-align: center;

  order: 1;
}

.small-area .text {
  width: 215px;

  padding: 0;
  margin-top: 0;
  margin-bottom: 54px;

  text-align: center;

  order: 3;
}



.beautiful-road {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.beautiful-road::before {
  content: "-№4-";
  width: 51px;
  height: 21px;

  padding: 0;
  margin-top: 25px;
  margin-bottom: 23px;

  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;

  text-align: center;

  order: 2;
}

.beautiful-road .subject {
  width: 99px;

  padding: 0;
  margin-top: 47px;
  margin-bottom: 0;

  text-align: center;

  order: 1;
}

.beautiful-road .text {
  width: 260px;

  padding: 0;
  margin-top: 0;
  margin-bottom: 54px;

  text-align: center;

  order: 3;
}



.few-tourists {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.few-tourists::before {
  content: "-№5-";
  width: 51px;
  height: 21px;

  padding: 0;
  margin-top: 25px;
  margin-bottom: 23px;

  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;

  text-align: center;

  order: 2;
}

.few-tourists .subject {
  width: 98px;

  padding: 0;
  margin-top: 47px;
  margin-bottom: 0;

  text-align: center;

  order: 1;
}

.few-tourists .text {
  width: 250px;

  padding: 0;
  margin-top: 0;
  margin-bottom: 54px;

  text-align: center;

  order: 3;
}



.sedona-hotels {
  display: flex;
  flex-direction: column;
  align-items: center;

  position: relative;
}

.question-of-interest {
  margin: 0;
  margin-top: 58px;
}

.sedona-hotels .text {
  width: 435px;

  margin-top: 30px;
  margin-bottom: 42px;

  line-height: 26px;
  text-align: center;
}



.sedona-hotels .hotel-search {
  width: 568px;

  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 0;

  text-align: center;
}



/*===== footer =====*/

/*
stylization
*/

.footer {
  background-color: inherit;
}



.contact-phone {
  color: var(--basicBlack);
}



.button.social {
  background-color: var(--regularBlue);
}

.twitter:hover,
.facebook:hover,
.youtube:hover {
  background-color: var(--darkBlue);
}

.twitter:active,
.facebook:active,
.youtube:active  {
  background-color: var(--extraDarkBlue);
}

.twitter:active > .icon,
.facebook:active > .icon,
.youtube:active > .icon {
  opacity: 0.3;
}



.website-by {
  line-height: 26px;
}

.html-academy-intensive:hover .html-academy-logotype-svg-path {
  fill: var(--regularBlue);
}

.html-academy-intensive:active .html-academy-logotype-svg-path {
  fill: var(--specialLightGray);
}



/*
positioning
*/

.footer {
  display: flex;
}

.contacts {
  flex-basis: 400px;
  flex-grow: 1;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.social-networks {
  flex-basis: 150px;

  padding-top: 36px;
  padding-bottom: 36px;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.creators {
  flex-basis: 400px;
  flex-grow: 1;

  display: grid;
  grid-template-columns: 1fr -webkit-min-content;
  grid-template-columns: 1fr min-content;
}



.contacts .hashtag {
  display: block;
  width: 166px;

  margin-top: 23px;
  margin-left: 153px;
  margin-bottom: 0;

  text-align: center;
}

.contacts .telephone {
  display: block;
  width: 251px;

  margin-top: 9px;
  margin-left: 111px;
  margin-bottom: 36px;

  text-align: center;
}



.social-networks-list {
  display: flex;
  flex-wrap: wrap;

  width: 150px;
}

.social-networks-list-item:not(:nth-child(3n)) {
  margin-right: 6px;
}

.social-networks-list-item:not(:nth-child(1)):not(:nth-child(2)):not(:nth-child(3)) {
  margin-top: 6px;
}

.button.social {
  display: block;
  width: 46px;
  height: 48px;

  position: relative;
}

.button.social > .icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}



.html-academy-intensive {
  align-self: center;
  margin-right: 138px;
}

.website-by {
  justify-self: end;
  align-self: center;
  margin-right: 8px;
}



/*
*********************************************************************************************************
inner-page
*********************************************************************************************************
*/

.inner-page-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: -webkit-min-content 1fr -webkit-min-content;
  grid-template-rows: min-content 1fr min-content;
}



/*===== inner-page-header =====*/

/*
stylization
*/

/* properties are inherited from "main-header" */

/*
positioning
*/

.inner-page-header {
  position: relative;
}

/* properties are inherited from "main-header" */



/*===== inner-page-main =====*/

/*
stylization
*/

.sorting-interface-box {
  font-size: 12px;
  line-height: 18px;
}

.sorting-active-mode > .sorting-element {
  color: var(--regularBlue);
  border: none;
}

.sorting-element {
  color: var(--basicBlack);
  mix-blend-mode: normal;
  opacity: 0.54;

  border-bottom: 1px dotted var(--regularBlue);
}



.sorting-element:focus,
.sorting-element:hover {
  color: var(--regularBlue);
}

.sorting-element:active {
  color: var(--basicBlack);
  border: none;
  opacity: 1;
}



.direction-active-mode .svg-path {
  fill: var(--regularBlue);
}

.button.up:focus .button-up-svg-path,
.button.down:focus .button-down-svg-path,
.button.up:hover .button-up-svg-path,
.button.down:hover .button-down-svg-path {
  fill: var(--basicBlack);
}

.button.up:active .button-up-svg-path,
.button.down:active .button-down-svg-path {
  fill: var(--regularBlue);
}



.hotel-name:hover {
  color: var(--regularBlue);
}

.hotel-name:active {
  color: var(--basicBlack);
  mix-blend-mode: normal;
  opacity: 0.3;
}



.ins {
  font-weight: bold;
  color: var(--basicWhite);
  background-color: var(--regularBlue);
}

.ins:focus {
  outline: 1px dotted var(--basicWhite);
  outline-offset: -2px;
}

.ins:hover {
  background-color: var(--darkBlue);
}

.ins:active {
  background-color: var(--extraDarkBlue);
  color: var(--basicOpacityWhite);
}



.booking {
  font-weight: bold;
  color: var(--basicWhite);
  background-color: var(--regularBrown);
}

.booking:focus {
  outline: 1px dotted var(--basicWhite);
  outline-offset: -2px;
}

.booking:hover {
  background-color: var(--darkBrown);
}

.booking:active {
  color: var(--basicOpacityWhite);
  background-color: var(--extraDarkBrown);
}



.number-of-points {
  background-color: var(--extraLightGray);
}

.number-of-points .text {
  color: var(--regularGray);
}



.star-item > .link {
  cursor: default;
}



/*
positioning
*/

.inner-page-main {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, -webkit-min-content);
  grid-template-rows: repeat(2, min-content);
}



.common-box {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, -webkit-min-content);
  grid-template-rows: repeat(2, min-content);
}



.range {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  background-image: url('../img/decor/svg/down_line/down_line.svg');
  background-repeat: no-repeat;
  background-position: 0 100%;
}



.sorting-elements-box {
  flex-grow: 1;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-wrap: wrap;
}

.filtered-results {
  padding: 0;
  margin-top: 29px;
  margin-right: 0;
  margin-left: 73px;
  margin-bottom: 32px;
}



.sorting-interface-box {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-wrap: wrap;
}

.sorting-interface-box > .text {
  padding: 0;
  margin-top: 31px;
  margin-right: 0;
  margin-left: 46px;
  margin-bottom: 38px;
}



.sorting-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  padding: 0;
  margin-top: 31px;
  margin-right: 0;
  margin-bottom: 37px;
}

.sorting-list-item.by-price {
  margin-left: 40px;
}

.sorting-list-item.by-type {
  margin-left: 32px;
}

.sorting-list-item.by-rating {
  margin-left: 33px;
}

.sorting-list-item:not(:first-child):not(:last-child) {
  margin-bottom: 1px;
}



.up-down-buttons-box {
  margin-top: 40px;
  margin-bottom: 37px;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-wrap: wrap;
}

.button.up,
.button.down {
  line-height: 0;
}

.button.down {
  margin-right: 73px;
}

.button.up {
  margin-right: 12px;
}



.relevant-propositions {
  display: flex;
  flex-direction: column;
}

.proposed-hotel {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;

  background-image: url('../img/decor/svg/down_line/down_line.svg');
  background-repeat: no-repeat;
  background-position: 0 100%;
}



.proposed-hotel-wrapper {
  flex-grow: 1;
  margin-top: 23.5px;
  margin-left: 73px;
  margin-bottom: 31px;

  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.link.hotel-photo {
  margin-top: 6px;
  line-height: 0;
}



.info-box {
  width: 726px;

  margin-left: 29px;
  margin-right: 29px;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, -webkit-min-content);
  grid-template-rows: repeat(3, min-content);
}

.info-box > * {
  margin: 0;
  padding: 0;
}



.info-box .hotel-name {
  display: block;
}



.info-text-content {
  display: flex;
  flex-wrap: wrap;
}



.hotel-type {
  width: 107px;

  margin-top: 7px;
  margin-bottom: 15.5px;

  text-align: left;
}

.day-min-price {
  width: 96px;

  margin-left: 9px;
  margin-top: 7px;
  margin-bottom: 15.5px;

  text-align: left;
}



.ins-and-booking {
  display: flex;
  flex-wrap: wrap;
}



.button.ins {
  width: 110px;

  padding-top: 3px;
  padding-bottom: 3px;

  text-align: center;
}

.button.booking {
  width: 142px;

  padding-top: 3px;
  padding-bottom: 3px;
  margin-left: 6px;

  text-align: center;
}



.hotel-rating {
  flex-basis: 134px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;

  margin-top: 29px;
  margin-right: 73px;
  margin-bottom: 31px;
}



.list.stars {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
}

.star-item {
  line-height: 0;
  margin-left: 5px;
}

.star-item > .link {
  display: block;
}



.number-of-points {
  width: 110px;

  margin-top: 47px;
  margin-bottom: 0;

  padding-top: 3px;
  padding-bottom: 3px;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.number-of-points > .text:first-child {
  margin-right: 4px;
}



/*===== inner-page-footer =====*/

/*
stylization
*/

.inner-page-footer {
  background-color: inherit;
}

/* properties are inherited from "footer" */

/*
positioning
*/

.inner-page-footer {
  display: flex;
}

/* properties are inherited from "footer" */



/*
*********************************************************************************************************
filter
*********************************************************************************************************
*/

.filter {
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  box-sizing: border-box;

  background-color: var(--sedonaNature);
  background-image: url('../img/decor/jpg/background/filter_background_image/filter_background_image.jpg');
  background-repeat: no-repeat;
  background-size: cover;

  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: var(--basicWhite);
}

.form-filter {
  width: 100%;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  box-sizing: border-box;

  display: grid;
  grid-template-columns: -webkit-max-content 1fr -webkit-max-content;
  grid-template-columns: max-content 1fr max-content;
}

.filter-fieldset-box {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;

  margin: 0;
  margin-top: 26.5px;
  padding: 0;

  border: none;
}

.infrastructure {
  margin-left: 72px;
}

.housing-type {
  margin-left: 120px;
}

.range-and-submit-box {
  margin-right: 73px;
}



.filter-fieldset-box > legend {
  font-size: 16px;
  font-weight: 700;
}



.filter-list > li {
  padding-left: 40px;
}

.infrastructure-list > li:first-of-type,
.housing-type-list > li:first-of-type {
  padding-top: 24.5px;
}

.infrastructure-list > li:not(:first-of-type):not(:last-of-type),
.housing-type-list > li:not(:first-of-type):not(:last-of-type) {
  padding-top: 23px;
}

.infrastructure-list > li:last-of-type,
.housing-type-list > li:last-of-type {
  padding-top: 26px;
  padding-bottom: 25px;
}



.filter-list-item > label {
  display: block;
  box-sizing: border-box;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.checkbox-for-filtration + label::before {
  content: "";
  position: absolute;
  left: -40px;
  top: 0;
  width: 27px;
  height: 23px;
  background-image: url('../img/decor/svg/filter/checkbox_off_w23px_h23px.svg');
  background-repeat: no-repeat;
}

.checkbox-for-filtration + label::after {
  content: "";
  position: absolute;
  left: -40px;
  top: 0;
  width: 27px;
  height: 23px;
  background-image: url('../img/decor/svg/filter/checkbox_on_w27px_h23px.svg');
  background-repeat: no-repeat;
  display: none;
}

.checkbox-for-filtration:checked + .filter-checkbox-label::before {
  display: none;
}

.checkbox-for-filtration:checked + .filter-checkbox-label::after {
  display: block;
}



.checkbox-for-filtration:disabled + .filter-checkbox-label::before {
  display: block;
  opacity: 0.3;
}

.checkbox-for-filtration:disabled + .filter-checkbox-label::after {
  display: none;
}



.checkbox-for-filtration:checked:disabled + .filter-checkbox-label::before {
  display: none;
}

.checkbox-for-filtration:checked:disabled + .filter-checkbox-label::after {
  display: block;
  opacity: 0.3;
}



.checkbox-for-filtration:focus + .filter-checkbox-label {
  outline: 1px dotted var(--basicWhite);
}

.checkbox-for-filtration:checked:focus + .filter-checkbox-label {
  outline: 1px dotted var(--basicWhite);
}



.cost-wrapper {
  width: 317px;
  box-sizing: border-box;
  margin-top: 10.5px;

  border: 2px solid var(--basicWhite);
  border-radius: 2px;

  background-image: url('../img/decor/svg/filter/background/rectangle.svg');
  background-repeat: no-repeat;
  background-position: center;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.cost-levels {
  display: flex;
  justify-content: center;
  align-items: center;

  padding-top: 4.5px;
  padding-bottom: 6.5px;

  color: var(--basicWhite);
  border: none;
  background-color: var(--fullOpacityWhite);
}

.lower-cost-level {
  width: 58px;
  margin-left: 52px;
}

.upper-cost-level {
  width: 83px;
  margin-left: 88px;
}


.filter-input-field {
  border: none;
  color: var(--basicWhite);
  background-color: var(--fullOpacityWhite);
}

.initial-cost {
  width: 8px;
  margin-left: 3px;
}

.final-cost {
  width: 31px;
  margin-left: 5px;
}



.controls-wrapper {
  width: 316px;
  height: 11.5px;

  margin: 11px auto 23px;
  padding-top: calc((21px - 2px)/2);

  background-color: var(--fullOpacityWhite);

  position: relative;
}

.bar-shell {
  width: 100%;
  height: 2px;

  background-color: var(--basicOpacityWhite);
}

.bar-fill {
  width: 80%;
  height: 2px;

  background-color: var(--basicWhite)
}

.bar-handle {
  position: absolute;
  top: 1px;
  left: 0;

  width: 4px;
  height: 4px;

  border: 8px solid var(--basicWhite);
  border-radius: 50%;

  background-color: var(--barHandle);
  box-shadow: 0 2px 1px 0 var(--barHandleShadow);
  cursor: pointer;
}

.initial-cost-bar-handle {
  left: 0;
}

.final-cost-bar-handle {
  left: 80%;
}

.initial-cost-bar-handle:hover {
  transform: scale(1.2);
}

.final-cost-bar-handle:hover {
  transform: scale(1.2);
}



.filter-search {
  display: block;
  width: 137px;
  box-sizing: border-box;

  padding-top: 5px;
  padding-right: 35px;
  padding-left: 36px;
  padding-bottom: 6px;

  margin-top: 0;
  margin-right: 95px;
  margin-left: 85px;
  margin-bottom: 32px;

  border: 2px solid var(--basicWhite);
  border-radius: 2px;

  color: var(--basicWhite);
  background-color: var(--fullOpacityWhite);

  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  line-height: inherit;
  text-transform: uppercase;

  cursor: pointer;
}

.filter-search:focus {
  outline: 1px dotted var(--basicWhite);
}

.filter-search:hover {
  color: var(--basicBlack);
  background-color: var(--basicWhite);
}



/*
*********************************************************************************************************
hotel search window
*********************************************************************************************************
*/

.form-search {
  width: 568px;
  max-height: 395px;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;

  padding: 0;
  margin: 0;
  box-sizing: border-box;

  background-color: var(--basicWhite);
  box-shadow: 0px 7px 15px var(--searchHotelWindowShadow);

  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: calc(-568px/2);

  transition: all 0.3s cubic-bezier(.18,.89,.32,1.28);

  font-family: 'PT Sans';
  font-weight: 700;
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
}

.hide-mode {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
}

.input-field {
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  line-height: inherit;
  text-transform: inherit;
}

.participants-number-by-age,
.amount-interface,
.input-field,
.field-box,
.button,
.image {
  border: none;
  padding: 0;
  margin: 0;
}

.button-minus,
.button-plus {
  outline-offset: -1px;
}

.input-adults,
.input-children {
  outline: none;
}



.search-form-content-wrapper {
  width: var(--searchFormContentWrapperWidth);
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;

  margin: 55px auto 55px;

  display: flex;
  flex-direction: column;
}

.check-out-elements {
  margin-top: 29px;
}

.participants-number-by-age {
  margin-top: 30px;
}



.field-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.check-in-out-date-labels {
  align-self: center;
}

.absolute-position-wrapper {
  display: flex;
  flex-wrap: wrap;

  width: 346px;

  position: relative;
}

.check-in-out-date-fields {
  flex-grow: 1;

  padding-top: 6px;
  padding-right: 40px;
  padding-bottom: 6px;

  background-color: var(--extraLightGray);
}

.check-in-date-field {
  padding-left: 13px;
}

.check-out-date-field {
  padding-left: 12px;
}



.check-in-out-date-fields:focus {
  background-color: var(--basicWhite);
  outline: 2px solid var(--upperStrongLightGray);
  outline-offset: -2px;
}

.check-in-out-date-fields:hover {
  background-color: var(--strongLightGray);
}



.calendar-button {
  position: absolute;
  top: 7px;
  left: 316px;

  background-color: transparent;
  cursor: pointer;
}

.calendar-button:focus .calendar-svg-fill {
  fill: var(--basicBlack);
}

.calendar-button:hover .calendar-svg-fill {
  fill: var(--basicBlack);
}

.calendar-button:active .calendar-svg-fill {
  fill: var(--regularBlue);
}



.adults-count-zone,
.children-count-zone {
  display: inline-block;
  height: 38px;
  vertical-align: middle;
}

.adults-count-zone {
  width: 229px;
}

.children-count-zone {
  width: 225.45px;
}



.adults-positioning-wrapper,
.children-positioning-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.children-positioning-wrapper {
  justify-content: flex-end;
}



.amount-interface {
  display: flex;
}

.adults {
  width: 101px;
  height: 100%;
}

.children {
  width: 65px;
  height: 100%;
}

.amount-interface {
  width: 114px;
  height: 100%;
  background-color: var(--extraLightGray);
}

.adults-amount {
  margin-left: 11px;
}

.input-adults {
  width: 36px;
  text-align: center;
  background-color: inherit;
}

.input-children {
  width: 38px;
  text-align: center;
  background-color: inherit;
}

.minus-image,
.plus-image {
  display: block;
}

.button-minus,
.button-plus {
  background-color: inherit;
  cursor: pointer;
}

.minus-adult-man {
  padding-top: 18px;
  padding-right: 14px;
  padding-left: 13px;
  padding-bottom: 17px;
  vertical-align: middle;
}

.plus-adult-man {
  padding-top: 14px;
  padding-right: 14px;
  padding-left: 14px;
  padding-bottom: 13px;
  vertical-align: middle;
}

.minus-child-man {
  padding-top: 18px;
  padding-right: 12px;
  padding-left: 14px;
  padding-bottom: 17px;
  vertical-align: middle;
}

.plus-child-man {
  padding-top: 14px;
  padding-right: 13px;
  padding-left: 14px;
  padding-bottom: 13px;
  vertical-align: middle;
}

.minus-adult-man:focus  .plus-minus-svg-fill {
  fill: var(--basicBlack);
}

.minus-adult-man:hover  .plus-minus-svg-fill {
  fill: var(--basicBlack);
}

.minus-adult-man:active  .plus-minus-svg-fill {
  fill: var(--regularBlue);
}

.plus-adult-man:focus  .plus-minus-svg-fill {
  fill: var(--basicBlack);
}

.plus-adult-man:hover  .plus-minus-svg-fill {
  fill: var(--basicBlack);
}

.plus-adult-man:active  .plus-minus-svg-fill {
  fill: var(--regularBlue);
}

.minus-child-man:focus  .plus-minus-svg-fill {
  fill: var(--basicBlack);
}

.minus-child-man:hover  .plus-minus-svg-fill {
  fill: var(--basicBlack);
}

.minus-child-man:active  .plus-minus-svg-fill {
  fill: var(--regularBlue);
}

.plus-child-man:focus  .plus-minus-svg-fill {
  fill: var(--basicBlack);
}

.plus-child-man:hover  .plus-minus-svg-fill {
  fill: var(--basicBlack);
}

.plus-child-man:active  .plus-minus-svg-fill {
  fill: var(--regularBlue);
}



.submit-button {
  margin-top: 54px;

  padding-top: 16px;
  padding-bottom: 16px;

  text-align: center;

  background-color: var(--regularBlue);
  cursor: pointer;

  font-family: 'PT Sans';
  font-weight: inherit;
  line-height: inherit;
  font-size: 21px;
  text-transform: inherit;
  color: var(--basicWhite);
}



.submit-button:hover {
  background-color: var(--darkBlue);
}

.submit-button:active  {
  background-color: var(--extraDarkBlue);
  color: var(--basicOpacityWhite);
}
